%p
  - if @prev
    %a{:href=>@prev} Previous
  - if @next
    %a{:href=>@next} Next
  %br
  %img#pdf{:src=> @src}
%h3 Information
%table.zebra
  %tbody
    %tr
      %td Name
      %td&= @resource.name
    - if @resource.latest_commit
      %tr
        %td Last modified
        %td= date @resource.latest_commit.date
      %tr
        %td Version
        %td.version= @resource.latest_commit
    %tr
      %td Download
      %td
        %a{:href=> resource_path(@resource, :output => 'download')} Download File
