title:        'Git-Wiki'
auth:
  service: yamlfile
  store:   '/home/user/wiki/users.yml'
cache:        '/home/user/wiki/cache'
default_mime: 'text/x-creole'
main_page:    'Home'
disabled_plugins:
  - misc/private_wiki
rack:
  rewrite_base: ''
  profiling:    false
log:
  level:     INFO
  file:      '/home/user/wiki/log'
git:
  repository:   '/home/user/wiki/repository'
  workspace:    '/home/user/wiki/workspace'
