title:        'Git-Wiki'
production:   true
main_page:    'Home'
sidebar_page: 'Sidebar'
external_img: false
auth:
  service: yamlfile
  store:   '/home/user/wiki/users.yml'
cache:        '/home/user/wiki/cache'
mime:
  magic:   true
  default: 'text/x-creole'
disabled_plugins:
  - authorization/private_wiki
  - filter/orgmode
  - tagging
  - editor/antispam
  - filter/benchmark
rack:
  rewrite_base: ''
  profiling:    false
log:
  level:     INFO
  file:      '/home/user/wiki/log'
git:
  repository:   '/home/user/wiki/repository'
