title:        'Git-Wiki'
repository:   '/home/user/wiki/repository'
workspace:    '/home/user/wiki/workspace'
store:        '/home/user/wiki/store.yml'
cache:        '/home/user/wiki/cache'
loglevel:     INFO
logfile:      '/home/user/wiki/log'
default_mime: 'text/x-creole'
main_page:    'Home'
