- title :delete_page.t(:page => @resource.title)
%form{:action => @resource.path.urlpath, :method=>'post'}
  .fieldset
    %input{:type=>'hidden', :name=> '_method', :value=>'delete'}
    %label.inline{:for=>'submit'}= :really_delete.t
    %button#submit.inline{:name=>'submit', :type=>'submit', :accesskey => 'd'}= :delete.t
    %button.inline{:type=>'button', :accesskey => 'c', :onclick=>'history.back()'}= :cancel.t
