- menu :view, :history, :edit
- title :delete_page.t(:page => @resource.title)
%form{:action => action_path(@resource.path, :delete), :method=>'post'}
  .fieldset
    %label.inline{:for=>'submit'}= :really_delete.t
    %button.inline{:name=>'submit', :type=>'submit', :accesskey => 'd'}= :delete.t
