- menu :new, :view, :history, :edit
- title "Editing #{@resource.pretty_name}" + (params[:pos] ? ' (Section)' : '')
- if @preview
  .preview~ @preview
.ui-tabs
  %ul
    %li{tab_selected(:edit)}
      %a{:href=>'#tab-edit'} Edit
    %li{tab_selected(:upload)}
      %a{:href=>'#tab-upload'} Upload
  %form{:action => @resource.path.urlpath, :method=>'post'}
    #tab-edit.box
      %h2 Edit
      = show_messages if action? :edit
      %input{:type=>'hidden', :name=> '_method', :value=>'put'}
      %input{:type=>'hidden', :name=> 'action',  :value=>'edit'}
      - if params[:pos]
        %input{:type=>'hidden', :name=> 'pos', :value=> params[:pos]}
        - if params[:len]
          %input{:type=>'hidden', :name=> 'len', :value=> params[:len]}
      %label{:for=>'edit-content'} Content
      %br
      %textarea#edit-content{:name=>'content', :cols=>100, :rows=>22}&= edit_content(@resource)
      %br
      %label{:for=>'edit-message'} Message
      %input#edit-message{:type=>'text', :name=>'message', :size => 50, :value => params[:message]}
      %input{:type=>'submit', :name=>'preview', :value=> 'Preview'}
      %input{:type=>'submit', :value=> 'Save', :accesskey => 's'}
      %input{:type=>'reset', :value=>'Reset', :accesskey => 'r'}
      %br
  %form{:action => @resource.path.urlpath, :method=>'post', :enctype=> 'multipart/form-data'}
    #tab-upload.box
      %input{:type=>'hidden', :name=> '_method', :value=>'put'}
      %h2 Upload a file
      = show_messages if action? :upload
      %label{:for=>'upload-file'} File
      %input#upload-file{:name=>'file',:type=>'file'}
      %input{:type=>'submit', :name=>'action', :value=>'Upload', :accesskey => 'u'}
      %br
