- @menu  = :new, :view, :history
- @title = (@preview_content ? 'Preview ' : 'Edit ') + @page.pretty_name
- if @preview_content
  .preview~ @preview_content
.ui-tabs
  %ul
    %li{tab_selected(:edit)}
      %a{:href=>'#tab-edit'} Edit
    - if @page.mime.text?
      %li{tab_selected(:append)}
        %a{:href=>'#tab-append'} Append
    %li{tab_selected(:upload)}
      %a{:href=>'#tab-upload'} Upload
  %form{:action => @page.path.urlpath, :method=>'post'}
    #tab-edit.box
      %h2 Edit
      %input{:type=>'hidden', :name=> '_method', :value=>'put'}
      %input{:type=>'hidden', :name=> 'action',  :value=>'edit'}
      %label{:for=>'edit-content'} Content
      %br
      %textarea#edit-content{:name=>'content', :cols=>100, :rows=>22}&= @page.mime.text? ? @page.content : ''
      %br
      %label{:for=>'edit-message'} Message
      %input#edit-message{:type=>'text', :name=>'message', :size => 50}
      %input{:type=>'submit', :name=>'preview', :value=> 'Preview'}
      %input{:type=>'submit', :value=> 'Save'}
      %input{:type=>'reset', :value=>'Reset'}
      %br
  - if @page.mime.text?
    %form{:action => @page.path.urlpath, :method=>'post'}
      #tab-append.box
        %h2 Append
        %input{:type=>'hidden', :name=> '_method', :value=>'put'}
        %input{:type=>'hidden', :name=> 'action',  :value=>'append'}
        %label{:for=>'append-excerpt'} Excerpt
        %br
        %pre#append-excerpt&= @page.saved_content.last_lines(5)
        %br
        %label{:for=>'append-appendix'} Appendix
        %textarea#append-appendix{:name=>'appendix', :cols=>100, :rows=>18}&= params[:appendix]
        %br
        %label{:for=>'append-message'} Message
        %input#append-message{:type=>'text', :name=>'message', :size => 50}
        %input{:type=>'submit', :name=>'preview', :value=> 'Preview'}
        %input{:type=>'submit', :value=> 'Save'}
        %input{:type=>'reset', :value=>'Reset'}
        %br
  %form{:action => @page.path.urlpath, :method=>'post', :enctype=> 'multipart/form-data'}
    #tab-upload.box
      %input{:type=>'hidden', :name=> '_method', :value=>'put'}
      %h2 Upload a file
      %label{:for=>'upload-file'} File
      %input#upload-file{:name=>'file',:type=>'file'}
      %input{:type=>'submit', :name=>'action', :value=>'Upload'}
      %br
