- @menu  = :new, :current, :history
- @title = (action?(:append) ? 'Append to ' : 'Edit ') + @object.pretty_name
.ui-tabs
  %ul
    %li{tab_selected(:edit)}
      %a{:href=>'#tab-edit'} Edit
    - if @object.mime.text?
      %li{tab_selected(:append)}
        %a{:href=>'#tab-append'} Append
    %li{tab_selected(:upload)}
      %a{:href=>'#tab-upload'} Upload
  %form{:action => @object.path.urlpath, :method=>'post'}
    #tab-edit.box
      %h2 Edit
      %input{:type=>'hidden', :name=> '_method', :value=>'put'}
      %label{:for=>'edit-content'} Content
      %br
      %textarea#edit-content{:name=>'content', :cols=>100, :rows=>22}&= @object.mime.text? ? @object.content : ''
      %br
      %label{:for=>'edit-message'} Message
      %input#edit-message{:type=>'text', :name=>'message', :size => 50}
      %input{:type=>'submit', :name=>'action', :value=>'Preview'}
      %input{:type=>'submit', :name=>'action', :value=>'Save'}
      %input{:type=>'reset', :value=>'Reset'}
      %br
  - if @object.mime.text?
    %form{:action => @object.path.urlpath, :method=>'post'}
      #tab-append.box
        %h2 Append
        %input{:type=>'hidden', :name=> '_method', :value=>'put'}
        %label{:for=>'append-excerpt'} Excerpt
        %br
        %pre#append-excerpt&= @object.content.last_lines(5)
        %br
        %label{:for=>'append-appendix'} Appendix
        %textarea#append-appendix{:name=>'appendix', :cols=>100, :rows=>18}
        %br
        %label{:for=>'append-message'} Message
        %input#append-message{:type=>'text', :name=>'message', :size => 50}
        %input{:type=>'submit', :name=>'action', :value=>'Preview'}
        %input{:type=>'submit', :name=>'action', :value=>'Save'}
        %input{:type=>'reset', :value=>'Reset'}
        %br
  %form{:action => @object.path.urlpath, :method=>'post', :enctype=> 'multipart/form-data'}
    #tab-upload.box
      %input{:type=>'hidden', :name=> '_method', :value=>'put'}
      %h2 Upload a file
      %label{:for=>'upload-file'} File
      %input#upload-file{:name=>'file',:type=>'file'}
      %input{:type=>'submit', :value=>'Upload'}
      %br
