%ul#menu
  %li
    %a{:href=> @object.path.abspath } Current
  %li
    %a{:href=>action_path(@object, :history) } History
  %li
    %a{:href=>action_path(@object, :append) } Append

#content
  %h1=@title

  %form{:action => @object.path.abspath, :method=>'post'}
    %input{:type=>'hidden', :name=> '_method', :value=>'put'}
    - if append
      %input{:type=>'hidden', :name=>'append', :value => 1 }
      %label Excerpt
      %pre=h @object.content[-200..-1]
      %br
    %label{:for=>'content_area'} Content
    %textarea{:name=>'content', :cols=>120, :rows=>30, :id=>'content_area'}=h append ? '' : @object.content
    %br
    %label{:for=>'message'} Message
    %input{:type=>'text', :name=>'message', :id=>'message', :size => 50}
    %input{:type=>'submit', :value=>'Save'}
    %input{:type=>'reset', :value=>'Reset'}
    %br