%table.zebra
  %tbody
    %tr
      %td Name
      %td&= @page.name
    %tr
      %td Last modified
      %td= date @page.latest_commit.date
    %tr
      %td Version
      %td= @page.latest_commit.sha
    %tr
      %td Mime-Type
      %td= @page.mime
    %tr
      %td Download
      %td
        %a{:href=> object_path(@page, :output => 'raw')} Download File
