%ul#menu
  %li
    %a{:href=> @object.path.abspath } Current
  %li
    %a{:href=>action_path(@object, :edit) } Edit
  %li
    %a{:href=>action_path(@object, :history) } History

#content
  %h1=@title
  %table
    %thead
      %tr
        %th SHA
        %th Author
        %th Date
        %th Message
    %tbody
      - @object.history.each do |commit|
        %tr
          %td
            %a.sha{:href=>object_path(@object, commit)}=commit.sha
          %td=h commit.author.name
          %td=h commit.author_date.strftime('%d. %h %Y %H:%M')
          %td=h commit.message.truncate(50)