- @menu  = :view, :edit, :new
- @title = "History of #{@object.pretty_name}"
- @feed = (@object.path/'changelog.rss').urlpath
%form{:action=> action_path(@object, :diff) }
  %input{:type=>'submit', :value=>'Show Diff'}
  %br
  %table.history
    %thead
      %tr
        %th{:colspan=>2} Diff
        %th SHA
        %th Author
        %th Date
        %th Message
    %tbody
      - @object.history.each do |commit|
        %tr
          %td
            %input{:type=>'radio', :name=>'from', :value=> commit.sha}
          %td
            %input{:type=>'radio', :name=>'to', :value=> commit.sha}
          %td
            %a.sha{:href=>object_path(@object, :sha => commit)}=commit.sha
          %td&= commit.author.name
          %td= date(commit.author_date)
          %td&= commit.message.truncate(50)
