%ul
  %li
    %a.home{:href=>resource_path(@resource, :path => Wiki::Config.main_page.urlpath), :accesskey=>'z'}
      Home
  = breadcrumbs(@resource)
  - if @resource && !@resource.current?
    %li.noborder
      Tree version
      %span.sha{:title => @resource.commit.sha}
        = @resource.commit.sha.truncate(8, '&#8230;')
%ul.wiki
  %li.title Wiki Menu
  - if menu.include?(:version)
    - if @resource.prev_commit
      %li
        %a{:href=>resource_path(@resource, :sha => @resource.prev_commit), :accesskey=>'o'} &#171; Older
    - if @resource.next_commit
      %li
        %a{:href=>resource_path(@resource, :sha => @resource.next_commit), :accesskey=>'n'} Newer &#187;
    - if !@resource.current?
      %li
        %a{:href=> @resource.path.urlpath, :accesskey=>'c'} Current
  - if menu.include?(:view)
    %li
      %a{:href=> @resource.path.urlpath, :accesskey=>'c'} View
  - if menu.include?(:new)
    %li
      %a.new{:href=> @resource && @resource.tree? ? (@resource.path/'new page/new').urlpath : '/new page/new'  } New Page
  - if menu.include?(:edit) && @resource.page?
    - if @resource.mime.text?
      %li
        %a.source{:href=> resource_path(@resource, :output => 'source')} Source
    %li
      %a.edit{:href=>action_path(@resource, :edit), :accesskey=>'e'} Edit
  - if menu.include?(:history)
    %li
      %a.history{:href=>action_path(@resource, :history), :accesskey=>'h'} History
  - if menu.include?(:archive)
    %li
      %a.archive{:href=>action_path(@resource, :archive)} Archive
