#menu= menu
#main
  #sidebar=sidebar
  #content
    %h1=@title
    = show_messages
    %form{:action => @path ? @path.urlpath : '/', :method=>'post', :enctype=> 'multipart/form-data'}
      - if !@path
        %label{:for=>'path'} Path
        %input{:name=>'path',:type=>'text',:id=>'path'}
        %br
      %h2 Upload a file...
      %label{:for=>'file'} File
      %input{:name=>'file',:id=>'file',:type=>'file'}
      %input{:type=>'submit', :name =>'action', :value=>'Upload'}
      %br
      %h2 ...or write text
      %label{:for=>'content_area'} Content
      %textarea{:name=>'content', :cols=>120, :rows=>22, :id=>'content_area'}
      %br
      %label{:for=>'message'} Message
      %input{:type=>'text', :name=>'message', :id=>'message', :size => 50}
      %input{:type=>'submit', :name =>'action', :value=>'Save'}
      %br