#content
  %h1=@title

  %form{:action => @path.abspath, :method=>'post'}
    %label{:for=>'content_area'} Content
    %textarea{:name=>'content', :cols=>120, :rows=>30, :id=>'content_area'}
    %br
    %label{:for=>'message'} Message
    %input{:type=>'text', :name=>'message', :id=>'message', :size => 50}
    %input{:type=>'submit', :value=>'Save'}
    %input{:type=>'reset', :value=>'Reset'}
    %br