:ruby
  @menu   = :version, :edit, :history, :new
  @title  = @object.pretty_name
  @footer = "#{@object.head? ? 'Current' : 'Outdated'} Version &bull;\
   Last modified by #{@object.commit.committer.name}, #{date @object.commit.committer_date}"
~ @content
