:ruby
  @menu   = :version, :edit, :history, :new
  @title  = @page.pretty_name
  @footer = "#{@page.head? ? 'Current' : 'Outdated'} Version &bull;\
   Last modified by #{@page.commit.committer.name}, #{date @page.commit.committer_date}"
  @feed = (@page.path/'changelog.rss').urlpath
~ @content
