= menu :version, :history

#content
  %h1=@title

  %table
    %thead
      %tr
        %th Name
    %tbody
      %tr
        %td
          %a{:href=> (@object.path/'..').abspath }
            %img{:src => '/public/folder.png'}
            \..
      - @object.children.each do |child|
        %tr
          %td
            %a{:href=>object_path(child)}
              %img{:src => (child.page? ? '/images/page.png' : '/images/folder.png')}
              =child.name
