- menu
- title :tag_title.t(:tag => @tag)
%ul
  = list_of @paths do |path|
    %a{:href => path.urlpath}= path.urlpath
    %form{:class=>'inline', :method=>'post', :action=> "/tags/#{@tag}"}
      %div
        %input{:type=>'hidden', :name=>'_method', :value => 'delete'}
        %input{:type=>'hidden', :name=>'path', :value => path}
        %button{:type=>'submit'}
          %img{:src=>'/sys/tagging/delete.png', :alt=>:delete.t}
  %li
    %form{:class=>'inline', :method=>'post', :action=> '/tags/new'}
      %div
        %input{:type=>'hidden', :name=>'tag', :value => @tag}
        %input{:type=>'text', :name=>'path', :alt => :page.t}
        %button{:type=>'submit'}
          %img{:src=>'/sys/tagging/add.png', :alt=>:add.t}
