$border_color: #bbbbbb;
$border: 1px solid $border_color;
$color1: #153b7a;
$main_bg: white;
$light_bg: #e5efff;
$light_bg1: #d4e4ff;
$sidebar_width: 155px;
$content_padding: 3.5em;
$dark_color: #333333;
$light_color: #555555;
$header_bg: url(images/bg/header.jpg) $color1;
$header_bg2: url(images/bg/header_gray.jpg) $dark_color;
$headline_font: 'Book Antiqua', Palatino, FreeSerif, serif;
$normal_font: 'URW Gothic L', 'DejaVu Sans', Verdana, sans-serif;
$monospace_font: 'Andale Mono', 'Bitstream Vera Sans Mono', monospace;
