- per_page = 16
- per_row = 4
- first = @page * per_page
- last = (@page + 1) * per_page
%p
  - if first > 0
    %a{:href => resource_path(@tree, :output => 'gallery', :page => @page - 1)} Previous
  - if last < @images.size
    %a{:href => resource_path(@tree, :output => 'gallery', :page => @page + 1)} Next
%table.thumbs
  - @images[first...last].to_a.each_slice(per_row) do |row|
    %tr
      - row.each do |image|
        - thumb_path = resource_path(image, :output => 'image', :geometry => '100x>')
        - image_path = resource_path(image, :output => 'image', :geometry => '500x>')
        %td
          %a{:href=>image_path}
            %img{:src=>thumb_path, :alt=>''}
.screen
